.No1Work {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.No2Work {
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 650px;
}

.MemoryGameComponent {
    width: 38%;
    margin-left: 50px;
    margin-top: 30px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(202, 202, 202);
}

.CalculatorComponent {
    width: 30%;
    margin-left: 200px;
    margin-top: 20px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(202, 202, 202);
}

.column {
    padding: 10px;
    float: left;
}

h1 {
    color: cornsilk;
    text-align: center;
}

.MemoryGameText {
    padding: 20px;
    width: 50%;
    height: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.CalculatorText {
    padding: 20px;
    width: 50%;
    height: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.MemoryGameText h1, .CalculatorText h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.MemoryGameText p, .CalculatorText p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 35px;
    text-align: justify;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.MemoryGameText button, .CalculatorText button {
    background-color: black;
    color: white;
    font-size: 22px;
    border-radius: 32px;
    margin-left: 360px;
    transition: all 0.7s !important;
    border-width: 1px;
}

.MemoryGameText button:hover  {
    color: black;
    box-shadow: inset 0px -80px 0px 30px rgb(255, 255, 255);
}

.CalculatorText button:hover  {
    color: black;
    box-shadow: inset 0px -80px 0px 30px rgb(255, 255, 255);
}

.Who {
    height: 800px;
    padding-top: 140px;
    padding-bottom: 10px;
}

.Who h1 {
    font-family: 'Playfair Display', serif;
    margin-left: 820px;
    font-weight: 400;
    color: white;
    font-size: 100px;
    width: 200px;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(255, 255, 255);
    padding-bottom: 15px;
    padding-left: 10px;
}

.Who p {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: white;
    font-size: 30px;
    width: 50%;
    margin-left: 450px;
}

.Who h2 {
    align-self: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: white;
    font-size: 80px;
    margin-top: 250px;
}

.Who text {
    font-size: 40px;
    margin-left: 25px;
    color: white;
}