.No1Work {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.MemoryGameComponent {
    width: 38%;
    margin-left: 50px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(202, 202, 202);
}

.column {
    padding: 10px;
    float: left;
}

h1 {
    color: cornsilk;
    text-align: center;
}

.MemoryGameText {
    padding: 20px;
    width: 50%;
    height: 100%;
    margin-left: 60px;
    margin-top: 40px;
}

.MemoryGameText h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.MemoryGameText p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 35px;
    text-align: justify;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.MemoryGameText button {
    background-color: black;
    color: white;
    font-size: 22px;
    border-radius: 32px;
    margin-left: 360px;
    transition: all 0.7s !important;
    border-width: 1px;
}

.MemoryGameText button:hover  {
    color: black;
    box-shadow: inset 0px -80px 0px 30px rgb(255, 255, 255);
}